// sendo usado em Hightlight
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600')

cut = 37.5rem

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
border-box()
	box-sizing border-box
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
